body {
    margin: auto;
    font-family: sans-serif;
    background-image: url(assets-css/202200908_rummens_SPFCxATLETICOGO_3216_-scaled.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
}

.header {
    color: rgb(250, 250, 250);
    border-bottom: solid 3px rgb(250, 0, 0);
    font-weight: bold;
    background-color: rgb(0, 0, 0);
    opacity: 0.90;
}

.container {
    padding: 30px;
    margin: auto;
    width: 80%;
    margin: auto;

}

.header .container {
    margin: ato;
    display: flex;
}

.header ul #aqui {
    font-weight: 1000;
    color: rgb(250, 250, 250);
    font-weight: bold;
}

a {
    color: rgb(250, 250, 250);
    text-decoration: none;
}

.navbar {
    padding: 30px;
    margin: auto;
    display: flex;
    width: 600px;
    justify-content: space-around;
    color: rgb(250, 250, 250);
    list-style: none;
    transform: translate(210px);
}

/*-----------------------------------------------------------INICIO DO CARROSSEL ----------------------------------------------------*/


.banner {
    padding: 30px;
    height: 500px;
    border: 2px solid red;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    background-color: rgb(0, 0, 0);
    opacity: 0.90;
}

.carrossel {
    /* border: 2px solid blue; */
    border-radius: 20px;
    overflow: hidden;

    /*define onde eu quero colocar o meu elemento na tela */
    /* move o conteudo no seu próprio eixo */
    /*eixo x deitado, eixo y em pé */
}

.navegadorcarrossel {
    position: absolute;
    /* se eu colocar duas vezes eu só vou conseguir mover o meu filho dentro da div carrossel */
    left: 50%;
    transform: translate(-50%, 1450%);
    /* corrigir o bug de ficar o left muito pra direita invertendo */
    display: flex;
}

.navegadorcarrossel label {
    background-color: red;
}

.barra {
    width: 20px;
    height: 17px;
    border: 2px solid white;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.6s;
}

.bar:hover {
    background-color: red;
}

.carrossel input {
    display: none;
}

.slides {
    display: flex;
    width: 50000%;
    /**/
    height: 100%;
}

.slide {
    width: 0.2%;
    transition: .6s;
}

.slide img {
    width: 55%;
    height: 100%;
    border-radius: 10px;
    transform: translate(350px);
}

#slide1:checked~.s1 {
    margin-left: 0;
}

#slide2:checked~.s1 {
    margin-left: -0.20%;
}

#slide3:checked~.s1 {
    margin-left: -0.40%;
}

#slide4:checked~.s1 {
    margin-left: -0.60%;
}

#slide5:checked~.s1 {
    margin-left: -0.80%;
}

#slide6:checked~.s1 {
    margin-left: -1.0%;
}

#slide7:checked~.s1 {
    margin-left: -1.2%;
}

#slide8:checked~.s1 {
    margin-left: -1.4%;
}

#slide9:checked~.s1 {
    margin-left: -1.6%;
}

#slide10:checked~.s1 {
    margin-left: -1.8%;
}


/*-----------------------------------------------------Fim do Carrosel----------------------------------------------------------------*/


/*------------------------------------------------------Inicio Historia SPFC---------------------------------------------------------*/

.containerHC {
    width: 100%;
    display: flex;
    height: auto;
    width: auto;
    background-color: rgb(0, 0, 0);
    opacity: 0.90;
    border: solid 3px rgb(255, 0, 0);
    flex-direction: column;
    margin: auto;
}




.conteudo {
    display: flex;
    height: 1900px;
    margin: 0;
}

.titulo h1 {
    padding: 15px;
    font-size: 38px;
    color: rgb(250, 250, 250);
    margin: auto;
    display: flex;
    justify-content: center;
}

.conteudo p {
    color: rgb(250, 0, 0);
    text-align: center;
    padding: 15px;
    font-size: 23px
}



.imgTime1 {
    display: flex;
    padding: 10px;
}

.conteudo img {
    height: 235px;
    
}

.imgTime2 {
    display: flex;
    padding: 10px;
    position: absolute;
    top: 1046px;
}

.imgTime3 {
    display: flex;
    padding: 10px;
}

.imgTime4 {
    display: flex;
    padding: 10px;
    position: absolute;
    top: 1046px;
    right: 3px;
}

.imgTime5 {
    display: flex;
    padding: 10px;
    position: absolute;
    top: 1320px;
}

.imgTime6 {
    display: flex;
    padding: 10px;
    position: absolute;
    top: 1320px;
    right: 3px;
}

.imgTime7 {
    display: flex;
    padding: 10px;
    position: absolute;
    top: 1590px;
}

.imgTime8 {
    display: flex;
    padding: 10px;
    position: absolute;
    top: 1590px;
    right: 3px;
}

.imgTime9 {
    display: flex;
    padding: 10px;
    position: absolute;
    top: 1860px;
}

.imgTime10 {
    display: flex;
    padding: 10px;
    position: absolute;
    top: 1860px;
    right: 3px;
}

.imgTime11 {
    display: flex;
    padding: 10px;
    position: absolute;
    top: 2130px;
}

.imgTime12 {
    display: flex;
    padding: 10px;
    position: absolute;
    top: 2130px;
    right: 3px;
}

.imgTime13 {
    display: flex;
    padding: 10px;
    position: absolute;
    top: 2400px;
}

.imgTime14 {
    display: flex;
    padding: 10px;
    position: absolute;
    top: 2400px;
    right: 3px;
}

/*-----------------------------------------------------Fim Historia SPFC------------------------------------------------------------*/


/*---------------------------------------------------------Inicio Idolos--------------------------------------------------------------*/


.containerIdolos {
    width: 100%;
    display: flex;
    height: auto;
    background-color: rgb(0, 0, 0);
    opacity: 0.90;
    border: solid 3px rgb(255, 0, 0);
    flex-direction: column;
}

.tituloIdolos h1 {
    padding: 15px;
    font-size: 38px;
    color: red;
    margin: auto;
    display: flex;
    justify-content: center;
}

.rogerioceni {
    display: flex;
    margin: 0;
    flex-direction: column;
    padding: 40px;
}

.tituloRC {
    display: flex;
    color: rgb(250, 250, 250);
    align-items: center;
    flex-direction: column
}

.imgRC {
    display: flex;
    border: solid red;
    justify-content: center;
    ;
}

.imgRC img {
    height: 195px;
    justify-content: center;
}

.rogerioceni p {
    color: red;
    text-align: center;
    font-size: 18px;
}


.rai {
    display: flex;
    margin: 0;
    flex-direction: column;
    padding: 40px   ;
}

.tituloRai {
    display: flex;
    color: rgb(250, 250, 250);
    align-items: center;
    flex-direction: column
}

.imgRai {
    display: flex;
    border: solid red;
    justify-content: center;
    ;
}

.imgRai img {
    height: 195px;
    width: 150px;
    justify-content: center;
}

.rai p {
    color: red;
    text-align: center;
    font-size: 18px;
}

.serginhochulapa {
    display: flex;
    margin: 0;
    flex-direction: column;
    padding:40px;
}

.tituloSerginho {
    display: flex;
    color: rgb(250, 250, 250);
    align-items: center;
    flex-direction: column
    
}

.imgSerginho {
    display: flex;
    border: solid red;
    justify-content: center;
    ;
}

.imgSerginho img {
    height: 195px;
    width: 150px;
    justify-content: center;
}

.serginhochulapa p {
    color: red;
    text-align: center;
    font-size:18px;
}

/*---------------------------------------------------------Fim Idolos-----------------------------------------------------------------*/


/*---------------------------------------------------------Inicio Footer--------------------------------------------------------------*/


.footer {
    margin: 0;
    background-image: url(assets-css/202200908_rummens_SPFCxATLETICOGO_3216_-scaled.jpg);
    height: 150px;
    color: #fff;
    display: flex;
}

.footer .container {
    margin: auto;
    display: flex;
    justify-content: center;
}

/*--------------------------------------------------------Fim do Footer----------------------------------------------------------------*/