body {
    margin: 0;
    font-family: sans-serif;
    background-image: url(assets-css/202200908_rummens_SPFCxATLETICOGO_3216_-scaled.jpg);
    background-position: center;
    background-size: cover;
}

.header {
    color: rgb(250, 250, 250);
    border-bottom: solid 3px rgb(0, 0, 0);
    font-weight: bold;
}

.container {
    margin: auto;
    width: 80%;
    margin: auto;

}

.header .container {
    margin: auto;
    display: flex;
}

.header ul #aqui {
    font-weight: 1000;
    color: rgb(250, 250, 250);
    font-weight: bold;
}

a {
    color: rgb(250, 250, 250);
    text-decoration: none;
}

.navbar {
    margin: auto;
    display: flex;
    width: 600px;
    justify-content: space-around;
    color: rgb(250, 250, 250);
    list-style: none;

}


.banner {
    margin: auto;
    color: rgb(250,250,250);
    padding: 40px 0;
    height: 500px;
    background-image: url(assets-css/202200908_rummens_SPFCxATLETICOGO_3216_-scaled.jpg);
    background-position: center;
    background-size: cover;
}

.banner .container {
    margin: auto;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner p {
    font-size: 36px;
    width: 280px;
    font-weight: bold;
    text-shadow: 
               -1px -4px 0px rgb(0, 0, 0), 
               -1px 4px 0px rgb(0, 0, 0),                    
                1px -4px 0px rgb(0, 0, 0),                  
                1px 0px 0px rgb(0, 0, 0);
    
}

.banner .container span {
    font-weight: 800;
}

.historia .container {
    margin: auto;
    height: 250px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}

.imagem {
    margin: auto;
    display: flex;
    height: 400px;
}

.imagem img {
    border: rgb(0, 0, 0);
    border-radius: 10px;
}

.historia {
    margin: auto;
    background-color: rgb(250, 250, 250);
    border-radius: 4px;
    padding: 30px;
    opacity: 0.80;
}



.historia h2 {
    color: rgb(0, 0, 0);
    font-size: 30px;
    display: flex;
    justify-content: center;
}

.historia p {
    color: rgb(0, 0, 0);
    font-size: 20px;
    text-align: center;
    height: auto;
}

.historia b {
    color: rgb(0, 0, 0);
    font-size: 20px;
}

.idolos .container .boxes {
    margin: auto;
    display: flex;
}

.idolos {
    margin: auto;
    background-color: rgb(250, 250, 250);
    opacity: 0.90;
    padding: 30px;
}

.idolos b{
    color: rgb(0, 0, 0);
    font-size: 20px;
}

.idolos select {
    border: solid rgb(0, 0, 0) 3px;
    background-color: white;
    border-radius: 10px;
    font-family: serif;
    font-weight: bold;
}

.idolos p{
    font-size: larger;
}

.titulo {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

.boxes h1 {
    display: block;
    align-items: center;
    text-align: center;
}

.box img {
    width: 170px;
    border: outset rgb(0, 0, 0) 2px;
}


.box {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.idolos p {
    text-align: center;
}

.morumbi {
    margin: auto;
    background-color: rgb(250, 250, 250);
    opacity: 0.80;
    padding: 30px;
}

.morumbi .container {
    margin: auto;
    height: 250px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

}

.morumbi img {
    display: flex;
    height: 98%;
    border-radius: 10px;
    width: 50%;
}

.morumbi p{
    font-size: larger;
}

.morumbi b{
    color: rgb(0, 0, 0);
    font-size: 20px;
}

.footer {
    margin: auto;
    background-image: url(assets-css/202200908_rummens_SPFCxATLETICOGO_3216_-scaled.jpg);
    height: 150px;
    color: #fff;
    display: flex;
}

.footer .container {
    margin: auto;
    display: flex;
    justify-content: center;
}